* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    font-family: 'Mulish', sans-serif;

    --color-white: #fff;
    --color-hsl-fonst: 195;
}

body {
    font-size: 1.6rem;
    background-color: var(--color-white);
}

.app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}

header {
    background-color: hsl(var(--color-hsl-fonst), 91%, 25%);
}

header nav{
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
    gap: 2.5rem;

    padding: 1.2rem 2.8rem;

    background-color: hsl(var(--color-hsl-fonst), 91%, 25%);
}

.logo {   
    padding: .9rem;
    background: hsl(196, 100%, 98%);
    border-radius: 50%;
}

form {
    flex: 1;
}

.input-wrapper label{
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input {
    width: 100%;
    padding: 1.2rem 1.6rem 1.2rem 1.4rem;
    border: 0;
    border-radius: .4rem;
    background: hsla(0, 0%, 100%, 0.2);
}

.input-wrapper input::placeholder {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-white);
}

.avatar {
    width: 4.2rem;
    height: 4.2rem;

    border-radius: 50%;
}

main {
    width: min(112rem, 100%);
    margin: 0 auto;

    background-color: var(--color-white);

    overflow-y: scroll;
}

main .gato {
    width: 100%;
    height: 21.9rem;
    object-fit: cover;
}

section {
    margin-top: 3.1rem;
    padding: 0 2.2rem;

    background-color: var(--color-white);
}

.avalia {
    padding-top: 2rem;
}

.like {
    margin-right: .9rem;
}

.like, .deslike {
    padding: 1.6rem;
    border-radius: 50%;
    background-color: hsl(var(--color-hsl-fonst), 91%, 25%);
}

section p {
    margin-top: 3.1rem;
}

div .art{
    margin-top: 3.1rem;
    padding: 0 2.2rem;

    background-color: var(--color-white);
}

.gatos-artigo {
    display: flex;
    margin-top: 3.2rem;
    gap: 1.6rem;
}

h3 {
    margin-bottom: 1.2rem;
}

footer {
    background: hsl(var(--color-hsl-fonst), 46%, 40%);
}

footer p {
    text-align: center;
    padding: 1.6rem;
    font-weight: 600;
    color: var(--color-white);
}

.gato:hover {
    transform: scale(1.05);
}

.gatos-artigo img:hover {
    transform: scale(1.1);
}


@media (min-width: 1023px) {

    nav {
        width: min(112rem, 100%);
        margin: 0 auto;
    }

    .gato {

        width: 50%;

        padding-left: 1.6rem;

        margin-top: 3.8rem;
    }

    .likeflex {
        display: flex;
        align-items: center;
        gap: 11.5rem;
    }

    .opa {
        display: flex;
    }

    .opa2 {
        width: 110rem;
    }

    .p-bottom {
        margin-bottom: 3.6rem;
    }

    .gatos-artigo {
        height: 9rem;
    }

    .gatos-artigo h3 {
        font-size: 1.8rem;
    }
    .gatos-artigo p {
        font-size: 1.4rem;
    }
}


header {
    --startY: -100%;
    animation: move 0.5s;
}

footer {
    --startY: 100%;
    animation: move 0.5s;
}

.opa2 {
    --startY: -100%;
    animation: left 0.9s;
}

.art {
    --startY: 100%;
    animation: left 0.9s;
}

@keyframes left {
    from {
        transform: translateX(var(--startY));
    }
}


@keyframes move {
    from {
        transform: translateY(var(--startY));
    }
}